.menuBox {
    position: absolute;
    background: #444444 repeat top left;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    margin: 0;
    padding: 0 10px 0 0;
    z-index: 100;
}

.menuList {
    float: left;
    width: 100%;
    margin: 2px 6px 5px 6px;
    padding: 10px 10px 10px 0;
    list-style: none;
}

.menuList li{
    text-align: left;
    background: #444444 repeat-x top left;
    color: #CCC;
    font-size: 11px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 6px 3px 6px 0px;
    border-bottom: 1px dashed #666;
}

.menuList li:hover{
    background:#7f7f7f repeat top left;
    color:#CCC;
}

.menuList a {
    text-decoration:none;
    color:#FFF;
}

.menuList a:link, .menuList a:visited {
    text-decoration:none;
    color:#FFF;
}

.menuList a:hover {
    text-decoration:none;
    color:#FFF;
}
